@font-face
{
	font-family: "WaitingfortheSunrise";
	src:url('ressources/font/Waiting_for_the_Sunrise/WaitingfortheSunrise.ttf');
}
@font-face
{
	font-family: "Raleway-Light";
	src:url('ressources/font/raleway/Raleway-Light.ttf');
}

article {
	font-family: WaitingfortheSunrise;
}

article p
{
	font-family: Raleway-Light;
}


.header-wrapper
{
	align-items: center;
	background-color: #161616;
	background-position: center;
	background-size: cover;
	color: white;
	display: flex;
	font-family: Raleway-Light;
	justify-content: center;
	padding: 100px 0;
	text-align: center;
}

.img
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
	padding-left: 180px;
}

.header {
	flex-grow: 10;
	padding: 0 50px;
}
.header h1
{
	justify-content: left;
	font-size: 50px;
	font-family: WaitingfortheSunrise;
}

.apropos
{
	display: flex;
	font-size: 20px;
}

.apropos1
{
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0 12%;
	width: 30%;
}
.apropos2
{
	align-items: center;
	display: flex;
	justify-content: center;
	width: 38%;
}

body
{
	margin: 0;
	font-family: Raleway-Light;
}


article h1 {
	font-size: 40px;
}

article h2
{
	font-family: Raleway-Light;
	font-size: 15px;

}

article h3
{
	font-family: WaitingfortheSunrise;
	color: #F5A9BC;
}


nav
{
	background-color: #161616;;
	display: flex;
	font-family: WaitingfortheSunrise;
	font-size: 30px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.nav-item a
{
	color: white;
	text-decoration: none;
}

.nav-item:hover
{
	background-color: #585858;
}

#current-nav-item
{
	background-color: #F5A9BC;
}

.nav-item
{
	height: 75px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px;
	flex: 1;
	min-width: 150px;
}

div.content
{
	clear: both;
	padding:0;
	margin:0;
	overflow: hidden;
	display:block;
}

div.content-block
{
	padding-bottom: 32px;
	padding-top: 32px;
}

section
{
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.content h2
{
	width:250px;
	text-align: right;
	float:left;
	clear:both;
	}

.content h3
{
	align-items: center;
	display: flex;
	flex: 3;
	text-align: justify;
	width: 700px;
	padding-left: 200px;
}

.experience-details
{
	align-items: center;
	display: flex;
	flex: 3;
	text-align: justify;
	padding-right: 30px;
	padding-left: 200px;


}

.experience
{
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
}


#folder
{
	width: 50px;

}

.experience-details
{
	font-family: Raleway-Light;
}

#mazarine
{
	clear:both;
	float:left;
	height: 135px;
	margin-left: 90px;
	margin-right: 25px;
	margin-bottom: -10px;
	text-align: right;
	width:135px;
}

#publicis
{
	width:250px;
	text-align: right;
	float:left;
	padding:0;
	margin:0;
	clear:both;
	margin-bottom:10px;
}

#dior
{
	width:250px;
	text-align: right;
	float:left;
	padding:0;
	margin:0;
	clear:both;
	margin-bottom:10px;
}

#leo
{
	width:250px;
	text-align: right;
	float:left;
	padding:0;
	margin:0;
	clear:both;
	margin-bottom:10px;
}

#electron
{
	width:250px;
	text-align: right;
	float:left;
	padding:0;
	margin:0;
	clear:both;
	margin-bottom:-12px;
}


.formation-head
{
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
}

.formation-wrapper
{
	display: flex;
	justify-content: space-between;
	font-family: WaitingfortheSunrise;
}

.formation-details
{
	font-family: Raleway-Light;
}
.esdes
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
	padding-left: 30px;
}
.erasmus
{
	flex-direction: column;
	flex-grow: 2;
	justify-content: center;
}
.lycee
{
	align-items: center;
	flex-direction: column;
	flex-grow: 3;
	justify-content: flex-end;
}

#chapeau
{
	width: 70px;
}

.voyages
{
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
}

#coeur
{
	width: 50px;
}

#voyages
{
	width: 550px;
}

#photo
{
	width: 300px;
}

#dance
{
	width: 300px;
}

.Fiche
{
	background-color: #F2F2F2;
	font-family: WaitingfortheSunrise;
	font-size: 30px;
	text-align: center;
}

aside
{
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 1250px;

}

aside h2
{
	background-color: #161616;
	color: white;
	padding: 30px;
}

.moi p
{
	padding: 5px;
	width: 1250px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

.competences
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.competences p
{
	margin-top: 0px;

}

.Langues
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 70px;
}

.icon
{
	height: 200px;
	font-size: 20px;
	width: 300px;
	margin-top: 30px;
}

.jauge
{
	background-color: white;
	border-radius: 5px;
	height: 8px;
	margin: auto;
	margin: top;
	width: 130px;
}

.jauge1
{
	background-color: #F5A9BC;
	border-radius: 5px;
	height: 100%;
	width:100%;
}

.jauge2
{
	background-color: #F5A9BC;
	border-radius: 5px;
	height:100%;
	width:90%;

}

.jauge3
{
	background-color: #F5A9BC;
	border-radius: 5px;
	height:100%;
	width:40%;
}

.jauge4
{
	background-color: #F5A9BC;
	border-radius: 5px;
	height:100%;
	width:50%;
}

.jauge5
{
	background-color: #F5A9BC;
	border-radius: 5px;
	height:100%;
	width:75%;
}

footer
{
	align-items: center;
	background-color: #161616;
	background-position: center;
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	font-family: WaitingfortheSunrise;
	font-size: 30px;
	justify-content: center;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}
